/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/

/vendor/
/web/bundles/
/web/assets/vendor/

# Executable php archives, downloaded by task
*.phar
*~
*.log

# Automatic build logs and results
/app/build/