////////////////////////////////////////////////////////////////////////////////
// Internal IMPORTS
////////////////////////////////////////////////////////////////////////////////
@import 'imports/variables';
@import 'imports/mixins';
@import 'imports/datePicker';
@import 'imports/searchOverlay';

////////////////////////////////////////////////////////////////////////////////
// BOOTSTRAP OVERRIDES - SEARCH PAGE SPECIFIC
////////////////////////////////////////////////////////////////////////////////
.content-container.search-page {
  .form-group .input-group-addon {
    margin-bottom: 0;
    min-width: 78px;
    text-align: left;
  }
}

.view-desktop {
  display: block;
  float: left;
  margin-top: -10px;
  text-align: center;
  width: 100%;

  a {
    background-color: $color-hawkes-blue;
    color: $color-cerulean;
    display: block;
    padding: 10px;

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

#includeAlt:before {
  content: 'Inclusief alternatieve luchthavens';
}

.end-date {
  &:before {
    content: '\2192';
    margin: 0 5px;
  }
}
