.overlay {
    display:                none;
    .navigation-bar{
        height:             auto;
        padding:            10px 12px;
        .close-btn{
            float:                      left;
            height:                     25px;
            margin-top:                 4px;
        }
    }
}