// Main colors
$color-white:                       #fff;
$color-black:                       #000;
$color-cerulean:                    #00a8e0;
$color-cerulean-dark:               #009bd1;
$color-internationalorange:         #fe5000;
$color-wild-sand:                   #f5f5f5;
$color-suva-gray:                   #7d7d7d;
$color-mercury:                     #e2e2e2;
$color-silver:                      #cacaca;
$color-alabaster:                   #f8f8f8;
$color-hawkes-blue:                 #e8f4fd;
$color-limeade:                     #6ab301;
$color-limeade-dark:                #5aa300;
$color-dove-gray:                   #707070;
$color-gray:                        #838383;
$color-border-opac:                 rgba(255, 255, 255, .3);
$color-lochmara:                    #0072bc;
$color-grenadier:                   #d64300;
$color-carouselpink:                #fdf4f5;
$color-bajawhite:                   #fff7d0;
$color-frost:                       #f0f9e7;
$color-wildwatermelon:              #ff6b74;

// Margins
$margin-horizontal:                 15px;
$margin-vertical:                   15px;
$margin-horizontal-small:           7px;
$margin-vertical-small:             7px;
$margin:                            15px 15px;
$margin-groupbottom:                25px;
$margin-grouptop:                   25px;

// Border radius
$borderradius-bigbutton:            20px;
$borderradius-mediumbutton:         10px;
$borderradius-form:                 0;

// Text size
$text-size-extra-small:             7px;
$text-size-small:                   10px;
$text-size-medium:                  13px;
$text-size-large:                   16px;
