{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Airline tickets booking{% endtrans %} |
    Vliegtickets.nl |
    {% trans %}Compare airline tickets{% endtrans %}
{% endblock %}

{% block body %}
    <section data-ui-view></section>
{% endblock %}
